:root {
  --blue: #1e7a9b;
  --black-box: #414141;
  --black-50: #73737381;
  --gray: #baacac;
  --gray-strong: #677276;
  --font-inter: "Inter", sans-serif;
  --font-krona: "Krona One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121214;
}

html {
  font-size: 62.5%;
  font-family: var(--font-krona);
  color: #ffffff;
}
h1 {
  padding-bottom: 3.2rem;
  font-size: 6rem;
  font-family: var(--font-inter);
}
span {
  color: var(--blue);
  font-family: var(--font-krona);
}

.search {
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#box {
  font-family: var(--font-inter);
  color: #afabb6;
  font-size: 1.5rem;
  width: 85%;
}

input {
  padding-top: 1.5rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 1.5rem;
  width: 32.7rem;
  height: 4.9rem;
  border-radius: 0.8rem;
  color: #ffffff;
  background-color: #000000;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  max-width: 100%; /* Limite a largura máxima ao tamanho da tela */
  padding: 0 1.6rem; /* Adicione um espaçamento lateral para evitar corte */
}

.news {
  height: auto;
  width: 90%;
  border: 0.2rem solid #1e7a9b;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2.4rem;
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}

#date {
  font-family: var(--font-inter);
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.ph-heart {
  cursor: pointer;
  font-size: 2.5rem;
  transition: color 0.3s ease, stroke 0.3s ease;
}

.ph-fill {
  color: #1e7a9b;
  fill: #1e7a9b;
  transition: color 0.3s ease, stroke 0.3s ease;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

p {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 1.5rem;
  color: #afabb6;
}

@media (min-width: 900px) {
  .search {
    margin-left: 20%;
    margin-right: 20%;
  }
  .content {
    margin-left: 20%;
    margin-right: 20%;
  }
}
